
body{
    background-image: url('/images/Static_Green_Still_Shift-HD.jpg');
    block-size: auto;
    color: #4DE046;
}
.dashed {
    border: dashed;
    color: #4DE046;
}
nav ul {
    list-style-type: none;
    text-indent: -40px;
    text-align:left;
    margin-top: 100px;
    

}
nav ul li {
    font-size: 30px;
    padding-bottom: 50px;
}
nav ul li a{
    color: rgb(51, 138, 46);
}

nav ul li a:hover{
    color: rgb(69, 189, 62);
}

.Greeting{
    text-align: left;
}
.folder{
    text-align: left;
}
.data-block{
    block-size: 300px;
    border: 2px solid #646464;
}
a {
    color: rgb(51, 138, 46);
}
a:hover {
    color: rgb(69, 189, 62);
}
a:hover:before {
  content: ">>";
}
a.delta:hover:before {
    content: none;
}

.logo{
    width: 100px;
    float: right;
}